@model UserEditViewModel
@{
    ViewData["Title"] = "Settings";
    Layout = "~/Views/Shared/_MessageLayout.cshtml";
}
<div class="sidebar-group left-sidebar chat_sidebar">
    <div id="chats" class="left-sidebar-wrap sidebar active slimscroll">
        <div class="slimscroll">

            <div class="left-chat-title d-flex justify-content-between align-items-center">
                <div class="chat-title">
                    <h4>PROFİLİM</h4>
                </div>
                <div class="btn-section">
                    <a href="/Login/Logout" class="btn logout-btn">ÇIKIŞ YAP</a>
                </div>
            </div>
            <div class="settings-option">
                <a href="#" class="user-list-item">AYARLARI GÜNCELLE</a>
            </div>

            <div class="profile-card">
                <div class="profile-cover text-center mb-3">
                    <label class="profile-cover-avatar" for="avatar_upload">
                        <img class="avatar-img" src="~/UserImage/@Model.ImageUrl" alt="Profile Image">
                    </label>
                    <h5 class="mt-3 profile-name mb-1">@Model.Name @Model.Surname</h5>
                 </div>
                <div class="profile-info">
                    <div class="text-center mb-4">
                        <p class="info-title mb-0">TELEFON NUMARASI</p>
                        <span class="info-text">@Model.Phone</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="chat settings-main pt-2" id="middle">
    <div class="slimscroll">
        <div class="settings-tab my-4">
            <nav>
                <div class="nav nav-tabs" id="nav-tab">
                    <a class="nav-item nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#general">Genel Ayarlar</a>
                    <a class="nav-item nav-link" id="nav-profile-tab2" data-bs-toggle="tab" href="#security">Şifre Değiştir</a>
                    <a class="nav-item nav-link" id="nav-profile-tab2" data-bs-toggle="tab" href="#account">Hesabı Sil</a>
                </div>
            </nav>
            <div class="tab-content settings-form">

                <div class="tab-pane fade show active" id="general">
                    <div class="settings-header">
                        <h5>Hesap Ayarları</h5>
                    </div>
                    <div class="settings-control p-3">
                        <div class="form-col form-body">
                            <form method="post" enctype="multipart/form-data" action="GeneralSetting">
                                <div class="row">
                                    <div class="col-md-12 col-xl-12">
                                        <div class="form-group">
                                            <label>Adınız</label>
                                            <input class="form-control form-control-lg group_formcontrol" asp-for="Name" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-xl-12">
                                        <div class="form-group">
                                            <label>Soyadınız</label>
                                            <input class="form-control form-control-lg group_formcontrol" asp-for="Surname" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-xl-12">
                                        <div class="form-group">
                                            <label>Telefon Numarası</label>
                                            <input class="form-control form-control-lg group_formcontrol" asp-for="Phone" type="text">
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-xl-12">
                                        <div class="form-group">
                                            <label>RESİM YÜKLE</label>
                                            <input type="file" asp-for="Image" class="custom-input-file form-control form-control-lg group_formcontrol">
                                        </div>
                                    </div>
                                </div>
                                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                <div class="form-row profile_form m-0 align-items-center">
                                    <div class="me-4">
                                        <button type="submit" class="btn btn-update  mb-0">
                                            GÜNCELLE
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="security">
                    <div class="settings-header">
                        <div class="row align-items-center">
                            <div class="col-md-8">
                                <h5>Şifreni Değiştir</h5>
                            </div>
                        </div>
                    </div>
                    <div class="security-settings">
                        <div class="password-updation">
                            <div class="row">
                                <div class="col-xl-4">
                                    <div class="form-col form-body">
                                        <form method="post" action="PasswordSetting">
                                            <input type="hidden" asp-for="Token" />
                                            <div class="form-group">
                                                <label>Mevcut Şifre</label>
                                                <input class="form-control form-control-lg group_formcontrol" asp-for="Password" type="password">
                                                <span class="text-danger" asp-validation-for="Password"></span>
                                            </div>
                                            <div class="form-group">
                                                <label>Yeni Şifre</label>
                                                <input class="form-control form-control-lg group_formcontrol" asp-for="NewPassword" type="password">
                                                <span class="text-danger" asp-validation-for="NewPassword"></span>
                                            </div>
                                            <div class="form-group">
                                                <label>Yeni Şifre Tekrar</label>
                                                <input class="form-control form-control-lg group_formcontrol" asp-for="ConfirmNewPassword" type="password">
                                                <span class="text-danger" asp-validation-for="ConfirmNewPassword"></span>
                                            </div>
                                            <div class="form-row profile_form m-0 align-items-center">
                                                <div class="me-4">
                                                    <button type="submit" class="btn btn-update  mb-0">
                                                       GÜNCELLE
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                    </div>
                </div>

                <div class="tab-pane fade" id="account">
                    <div class="settings-delete">
                        <div class="row align-items-center justify-content-between">
                            <div class="col-md-12">
                                <form method="post" asp-action="DeleteAccount">
                                    <h5>Hesabını Sil</h5>
                                    <br />
                                    <h6>Hesabınız kalıcı olarak sileceksiniz.</h6>
                                    <br /><br />
                                    <button type="submit" class="btn btn-update">HESABI SİL</button>
                                </form>

                            </div>
                        </div>                    
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

