
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from dreamschat.dreamguystech.com/template2/forgotpassword-email.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 14 Nov 2022 20:55:16 GMT -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dreams Chat - Html Template</title>

    <link rel="icon" href="assets/img/favicon.png">

    <link rel="stylesheet" href="~/template2/assets/css/bootstrap.min.css">

    <link rel="stylesheet" href="~/template2/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/template2/assets/plugins/fontawesome/css/all.min.css">

    <link rel="stylesheet" href="~/template2/assets/plugins/mcustomscroll/jquery.mCustomScrollbar.css">

    <link rel="stylesheet" href="~/template2/assets/css/app.css">
</head>
<body class="account-page">

    <div class="main-wrapper">

@RenderBody()

    </div>


    <script src="~/template2/assets/js/jquery-3.6.0.min.js"></script>

    <script src="~/template2/assets/js/bootstrap.bundle.min.js"></script>

    <script src="~/template2/assets/js/jquery.nicescroll.min.js"></script>
    <script src="~/template2/assets/plugins/mcustomscroll/jquery.mCustomScrollbar.js"></script>

    <script src="~/template2/assets/js/script.js"></script>
</body>

<!-- Mirrored from dreamschat.dreamguystech.com/template2/forgotpassword-email.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 14 Nov 2022 20:55:16 GMT -->
</html>