@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> TC - CHAT</title>

        <link rel="icon" href="~/template2/assets/img/favicon.png">

        <link rel="stylesheet" href="~/template2/assets/css/bootstrap.min.css">

        <link rel="stylesheet" href="~/template2/assets/plugins/fontawesome/css/fontawesome.min.css">
        <link rel="stylesheet" href="~/template2/assets/plugins/fontawesome/css/all.min.css">

        <link rel="stylesheet" href="~/template2/assets/plugins/swiper/swiper.min.css">

        <link rel="stylesheet" href="~/template2/assets/plugins/fancybox/jquery.fancybox.min.css">

        <link rel="stylesheet" href="~/template2/assets/css/app.css">
    </head>

    <body>
        
        <div class="main-wrapper">
            <div class="content main_content">
                <div class="sidebar-menu">
                    <div class="logo-col">
                        <a href="/Message/Chats"><img src="~/template2/assets/img/logo.png" alt=""></a>
                    </div>
                    <div class="menus-col">
                        <div class="chat-menus">
                            <ul>
                                <li>
                                    <a href="/Message/Chats" class="chat-unread blue">
                                        <span class="material-icons">message</span>
                                        <span>Mesaj</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/Setting/Settings" class="chat-unread">
                                        <span class="material-icons">settings</span>
                                        <span>Ayarlar</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="bottom-menus">
                            <ul>
                                <li>
                                    <a href="#" class="add-contacts-btn" data-bs-toggle="modal" data-bs-target="#add-contact">
                                        <i class="fas fa-plus"></i>
                                        <span>Yeni Mesaj Oluştur</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" id="dark-mode-toggle" class="dark-mode-toggle">
                                        <i class="far fa-moon"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="chat-profile-icon" data-bs-toggle="dropdown">
                                    <img src="~/UserImage/@ViewBag.UserPhoto" alt="">
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a href="/Setting/Settings" class="dropdown-item">Ayarlar <span class="material-icons">settings</span></a>
                                        <a href="/Login/Logout" class="dropdown-item">Çıkış Yap <span class="material-icons">power_settings_new</span></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                @RenderBody()
            </div>
        @await Html.PartialAsync("~/Views/Partial/AddContactPartial.cshtml",new Message())
        </div>

        <script src="~/template2/assets/js/jquery-3.6.0.min.js"></script>

        <script src="~/template2/assets/js/bootstrap.bundle.min.js"></script>

        <script src="~/template2/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

        <script src="~/template2/assets/plugins/swiper/swiper.min.js"></script>

        <script src="~/template2/assets/plugins/fancybox/jquery.fancybox.min.js"></script>

        <script src="~/template2/assets/js/script.js"></script>
    </body>
</html>