
@{
    ViewData["Title"] = "Calls";
    Layout = "~/Views/Shared/_MessageLayout.cshtml";
}
<div class="sidebar-group left-sidebar chat_sidebar">

    <div id="chats" class="left-sidebar-wrap sidebar active slimscroll">
        <div class="slimscroll">

            <div class="left-chat-title d-flex justify-content-between align-items-center">
                <div class="chat-title">
                    <h4>CALLS</h4>
                </div>
            </div>

            <div class="search_chat has-search mb-0">
                <span class="fas fa-search form-control-feedback"></span>
                <input class="form-control chat_input" id="search-contact1" type="text" placeholder="Search Contacts">
            </div>
            <div class="sidebar-body" id="chatsidebar">

                <div class="left-chat-title d-flex justify-content-between align-items-center ps-0 pe-0">
                    <div class="chat-title">
                        <h4>RECENT CALLS</h4>
                    </div>
                    <div class="add-section">
                        <a href="#" data-bs-toggle="modal" data-bs-target="#add-group-call"><i class="fas fa-phone-alt"></i></a>
                    </div>
                </div>

                <nav>
                    <div class="nav nav-tabs chat-scroll side_bar" id="nav-tab">
                        <a class="nav-item nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#allcalls">All Calls</a>
                        <a class="nav-item nav-link" id="nav-profile-tab1" data-bs-toggle="tab" href="#receivedcalls">Recieved Calls</a>
                        <a class="nav-item nav-link" id="nav-profile-tab2" data-bs-toggle="tab" href="#incomingcalls">Incoming Calls</a>
                        <a class="nav-item nav-link" id="nav-profile-tab3" data-bs-toggle="tab" href="#missedcalls">Missed Calls</a>
                    </div>
                </nav>
                <div class="tab-content settings-form">

                    <div class="tab-pane fade show active" id="allcalls">
                        <ul class="user-list mt-2">
                            <li class="user-list-item">
                                <div class="avatar avatar-online">
                                    <img src="assets/img/avatar/avatar-8.jpg" class="rounded-circle" alt="image">
                                </div>
                                <div class="users-list-body align-items-center">
                                    <div>
                                        <h5>Regina Dickerson</h5>
                                        <p>Just now</p>
                                    </div>
                                    <div class="last-chat-time">
                                        <span class="material-icons me-3 incoming-icon">call_made</span>
                                        <a href="videocall-group.html"><span class="material-icons videocall-icon">videocam</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="user-list-item">
                                <div>
                                    <div class="avatar avatar-away">
                                        <img src="assets/img/avatar/avatar-9.jpg" class="rounded-circle" alt="image">
                                    </div>
                                </div>
                                <div class="users-list-body align-items-center">
                                    <div>
                                        <h5>Forest Kroch</h5>
                                        <p>9 Min Ago</p>
                                    </div>
                                    <div class="last-chat-time">
                                        <span class="material-icons me-3 incoming-icon">call_received</span>
                                        <a href="audiocall-single.html"><span class="material-icons calling-icon">call</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="user-list-item item-typing">
                                <div>
                                    <div class="avatar avatar-online">
                                        <img src="assets/img/avatar/avatar-10.jpg" class="rounded-circle" alt="image">
                                    </div>
                                </div>
                                <div class="users-list-body align-items-center">
                                    <div>
                                        <h5>Regina Dickerson</h5>
                                        <p>5 Min Ago</p>
                                    </div>
                                    <div class="last-chat-time">
                                        <span class="material-icons me-3 callmissed-icon">call_missed</span>
                                        <a href="audiocall-single.html"><span class="material-icons calling-icon">call</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="user-list-item">
                                <div>
                                    <div class="avatar avatar-online">
                                        <div class="letter-avatar">
                                            M
                                        </div>
                                    </div>
                                </div>
                                <div class="users-list-body align-items-center">
                                    <div>
                                        <h5>Townsend Seary</h5>
                                        <p>3 Min Ago</p>
                                    </div>
                                    <div class="last-chat-time">
                                        <span class="material-icons me-3 incoming-icon">call_received</span>
                                        <a href="audiocall-single.html"><span class="material-icons calling-icon">call</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="user-list-item">
                                <div>
                                    <div class="avatar avatar-online">
                                        <img src="assets/img/avatar/avatar-11.jpg" class="rounded-circle" alt="image">
                                    </div>
                                </div>
                                <div class="users-list-body align-items-center">
                                    <div>
                                        <h5>Margaretta Worvell</h5>
                                        <p>4 Min Ago</p>
                                    </div>
                                    <div class="last-chat-time">
                                        <span class="material-icons me-3 incoming-icon">call_made</span>
                                        <a href="audiocall-single.html"><span class="material-icons calling-icon">call</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="user-list-item">
                                <div>
                                    <div class="avatar avatar-away">
                                        <img src="assets/img/avatar/avatar-2.jpg" class="rounded-circle" alt="image">
                                    </div>
                                </div>
                                <div class="users-list-body align-items-center">
                                    <div>
                                        <h5>#Tech Support</h5>
                                        <p>5 Min Ago</p>
                                    </div>
                                    <div class="last-chat-time">
                                        <span class="material-icons me-3 incoming-icon">call_made</span>
                                        <a href="audiocall-single.html"><span class="material-icons calling-icon">call</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="user-list-item">
                                <div>
                                    <div class="avatar avatar-online">
                                        <div class="letter-avatar">
                                            A
                                        </div>
                                    </div>
                                </div>
                                <div class="users-list-body align-items-center">
                                    <div>
                                        <h5>Harald Kowalski</h5>
                                        <p>3 Min Ago</p>
                                    </div>
                                    <div class="last-chat-time">
                                        <span class="material-icons me-3 callmissed-icon">call_missed</span>
                                        <a href="audiocall-single.html"><span class="material-icons calling-icon">call</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="user-list-item">
                                <div>
                                    <div class="avatar avatar-away">
                                        <img src="assets/img/avatar/avatar-12.jpg" class="rounded-circle" alt="image">
                                    </div>
                                </div>
                                <div class="users-list-body align-items-center">
                                    <div>
                                        <h5>Alexandr Donnelly</h5>
                                        <p>5 Min Ago</p>
                                    </div>
                                    <div class="last-chat-time">
                                        <span class="material-icons me-3 incoming-icon">call_received</span>
                                        <a href="videocall-group.html"><span class="material-icons videocall-icon">videocam</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="user-list-item">
                                <div>
                                    <div class="avatar avatar-online">
                                        <img src="assets/img/avatar/avatar-4.jpg" class="rounded-circle" alt="image">
                                    </div>
                                </div>
                                <div class="users-list-body align-items-center">
                                    <div>
                                        <h5>Regina Dickerson</h5>
                                        <p>8 Min Ago</p>
                                    </div>
                                    <div class="last-chat-time">
                                        <span class="material-icons me-3 callmissed-icon">call_missed</span>
                                        <a href="videocall-group.html"><span class="material-icons videocall-icon">videocam</span></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>


                    <div class="tab-pane fade" id="receivedcalls">
                        <ul class="user-list mt-2">
                            <li class="user-list-item">
                                <div class="avatar avatar-online">
                                    <img src="assets/img/avatar/avatar-8.jpg" class="rounded-circle" alt="image">
                                </div>
                                <div class="users-list-body align-items-center">
                                    <div>
                                        <h5>Regina Dickerson</h5>
                                        <p>Just now</p>
                                    </div>
                                    <div class="last-chat-time">
                                        <span class="material-icons me-3 incoming-icon">call_made</span>
                                        <a href="videocall-group.html"><span class="material-icons videocall-icon">videocam</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="user-list-item">
                                <div>
                                    <div class="avatar avatar-online">
                                        <img src="assets/img/avatar/avatar-11.jpg" class="rounded-circle" alt="image">
                                    </div>
                                </div>
                                <div class="users-list-body align-items-center">
                                    <div>
                                        <h5>Margaretta Worvell</h5>
                                        <p>4 Min Ago</p>
                                    </div>
                                    <div class="last-chat-time">
                                        <span class="material-icons me-3 incoming-icon">call_made</span>
                                        <a href="audiocall-single.html"><span class="material-icons calling-icon">call</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="user-list-item">
                                <div>
                                    <div class="avatar avatar-away">
                                        <img src="assets/img/avatar/avatar-2.jpg" class="rounded-circle" alt="image">
                                    </div>
                                </div>
                                <div class="users-list-body align-items-center">
                                    <div>
                                        <h5>#Tech Support</h5>
                                        <p>5 Min Ago</p>
                                    </div>
                                    <div class="last-chat-time">
                                        <span class="material-icons me-3 incoming-icon">call_made</span>
                                        <a href="audiocall-single.html"><span class="material-icons calling-icon">call</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="user-list-item">
                                <div>
                                    <div class="avatar avatar-away">
                                        <img src="assets/img/avatar/avatar-9.jpg" class="rounded-circle" alt="image">
                                    </div>
                                </div>
                                <div class="users-list-body align-items-center">
                                    <div>
                                        <h5>Forest Kroch</h5>
                                        <p>9 Min Ago</p>
                                    </div>
                                    <div class="last-chat-time">
                                        <span class="material-icons me-3 incoming-icon">call_made</span>
                                        <a href="audiocall-single.html"><span class="material-icons calling-icon">call</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="user-list-item">
                                <div>
                                    <div class="avatar avatar-online">
                                        <div class="letter-avatar">
                                            M
                                        </div>
                                    </div>
                                </div>
                                <div class="users-list-body align-items-center">
                                    <div>
                                        <h5>Townsend Seary</h5>
                                        <p>3 Min Ago</p>
                                    </div>
                                    <div class="last-chat-time">
                                        <span class="material-icons me-3 incoming-icon">call_made</span>
                                        <a href="audiocall-single.html"><span class="material-icons calling-icon">call</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="user-list-item">
                                <div>
                                    <div class="avatar avatar-away">
                                        <img src="assets/img/avatar/avatar-12.jpg" class="rounded-circle" alt="image">
                                    </div>
                                </div>
                                <div class="users-list-body align-items-center">
                                    <div>
                                        <h5>Alexandr Donnelly</h5>
                                        <p>5 Min Ago</p>
                                    </div>
                                    <div class="last-chat-time">
                                        <span class="material-icons me-3 incoming-icon">call_made</span>
                                        <a href="audiocall-single.html"><span class="material-icons calling-icon">call</span></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>


                    <div class="tab-pane fade" id="incomingcalls">
                        <ul class="user-list mt-2">
                            <li class="user-list-item">
                                <div>
                                    <div class="avatar avatar-away">
                                        <img src="assets/img/avatar/avatar-9.jpg" class="rounded-circle" alt="image">
                                    </div>
                                </div>
                                <div class="users-list-body align-items-center">
                                    <div>
                                        <h5>Forest Kroch</h5>
                                        <p>9 Min Ago</p>
                                    </div>
                                    <div class="last-chat-time">
                                        <span class="material-icons me-3 incoming-icon">call_received</span>
                                        <a href="audiocall-single.html"><span class="material-icons calling-icon">call</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="user-list-item">
                                <div>
                                    <div class="avatar avatar-online">
                                        <div class="letter-avatar">
                                            M
                                        </div>
                                    </div>
                                </div>
                                <div class="users-list-body align-items-center">
                                    <div>
                                        <h5>Townsend Seary</h5>
                                        <p>3 Min Ago</p>
                                    </div>
                                    <div class="last-chat-time">
                                        <span class="material-icons me-3 incoming-icon">call_received</span>
                                        <a href="audiocall-single.html"><span class="material-icons calling-icon">call</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="user-list-item">
                                <div>
                                    <div class="avatar avatar-away">
                                        <img src="assets/img/avatar/avatar-12.jpg" class="rounded-circle" alt="image">
                                    </div>
                                </div>
                                <div class="users-list-body align-items-center">
                                    <div>
                                        <h5>Alexandr Donnelly</h5>
                                        <p>5 Min Ago</p>
                                    </div>
                                    <div class="last-chat-time">
                                        <span class="material-icons me-3 incoming-icon">call_received</span>
                                        <a href="videocall-group.html"><span class="material-icons videocall-icon">videocam</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="user-list-item item-typing">
                                <div>
                                    <div class="avatar avatar-online">
                                        <img src="assets/img/avatar/avatar-10.jpg" class="rounded-circle" alt="image">
                                    </div>
                                </div>
                                <div class="users-list-body align-items-center">
                                    <div>
                                        <h5>Regina Dickerson</h5>
                                        <p>5 Min Ago</p>
                                    </div>
                                    <div class="last-chat-time">
                                        <span class="material-icons me-3 incoming-icon">call_received</span>
                                        <a href="audiocall-single.html"><span class="material-icons calling-icon">call</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="user-list-item">
                                <div>
                                    <div class="avatar avatar-online">
                                        <div class="letter-avatar">
                                            A
                                        </div>
                                    </div>
                                </div>
                                <div class="users-list-body align-items-center">
                                    <div>
                                        <h5>Harald Kowalski</h5>
                                        <p>3 Min Ago</p>
                                    </div>
                                    <div class="last-chat-time">
                                        <span class="material-icons me-3 incoming-icon">call_received</span>
                                        <a href="audiocall-single.html"><span class="material-icons calling-icon">call</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="user-list-item">
                                <div>
                                    <div class="avatar avatar-online">
                                        <img src="assets/img/avatar/avatar-4.jpg" class="rounded-circle" alt="image">
                                    </div>
                                </div>
                                <div class="users-list-body align-items-center">
                                    <div>
                                        <h5>Regina Dickerson</h5>
                                        <p>8 Min Ago</p>
                                    </div>
                                    <div class="last-chat-time">
                                        <span class="material-icons me-3 incoming-icon">call_received</span>
                                        <a href="audiocall-single.html"><span class="material-icons calling-icon">call</span></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>


                    <div class="tab-pane fade" id="missedcalls">
                        <ul class="user-list mt-2">
                            <li class="user-list-item item-typing">
                                <div>
                                    <div class="avatar avatar-online">
                                        <img src="assets/img/avatar/avatar-10.jpg" class="rounded-circle" alt="image">
                                    </div>
                                </div>
                                <div class="users-list-body align-items-center">
                                    <div>
                                        <h5>Regina Dickerson</h5>
                                        <p>5 Min Ago</p>
                                    </div>
                                    <div class="last-chat-time">
                                        <span class="material-icons me-3 callmissed-icon">call_missed</span>
                                        <a href="audiocall-single.html"><span class="material-icons calling-icon">call</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="user-list-item">
                                <div>
                                    <div class="avatar avatar-online">
                                        <div class="letter-avatar">
                                            A
                                        </div>
                                    </div>
                                </div>
                                <div class="users-list-body align-items-center">
                                    <div>
                                        <h5>Harald Kowalski</h5>
                                        <p>3 Min Ago</p>
                                    </div>
                                    <div class="last-chat-time">
                                        <span class="material-icons me-3 callmissed-icon">call_missed</span>
                                        <a href="audiocall-single.html"><span class="material-icons calling-icon">call</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="user-list-item">
                                <div>
                                    <div class="avatar avatar-online">
                                        <img src="assets/img/avatar/avatar-4.jpg" class="rounded-circle" alt="image">
                                    </div>
                                </div>
                                <div class="users-list-body align-items-center">
                                    <div>
                                        <h5>Regina Dickerson</h5>
                                        <p>8 Min Ago</p>
                                    </div>
                                    <div class="last-chat-time">
                                        <span class="material-icons me-3 callmissed-icon">call_missed</span>
                                        <a href="videocall-group.html"><span class="material-icons videocall-icon">videocam</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="user-list-item">
                                <div class="avatar avatar-online">
                                    <img src="assets/img/avatar/avatar-8.jpg" class="rounded-circle" alt="image">
                                </div>
                                <div class="users-list-body align-items-center">
                                    <div>
                                        <h5>Regina Dickerson</h5>
                                        <p>Just now</p>
                                    </div>
                                    <div class="last-chat-time">
                                        <span class="material-icons me-3 callmissed-icon">call_missed</span>
                                        <a href="audiocall-single.html"><span class="material-icons calling-icon">call</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="user-list-item">
                                <div>
                                    <div class="avatar avatar-online">
                                        <img src="assets/img/avatar/avatar-11.jpg" class="rounded-circle" alt="image">
                                    </div>
                                </div>
                                <div class="users-list-body align-items-center">
                                    <div>
                                        <h5>Margaretta Worvell</h5>
                                        <p>4 Min Ago</p>
                                    </div>
                                    <div class="last-chat-time">
                                        <span class="material-icons me-3 callmissed-icon">call_missed</span>
                                        <a href="audiocall-single.html"><span class="material-icons calling-icon">call</span></a>
                                    </div>
                                </div>
                            </li>
                            <li class="user-list-item">
                                <div>
                                    <div class="avatar avatar-away">
                                        <img src="assets/img/avatar/avatar-2.jpg" class="rounded-circle" alt="image">
                                    </div>
                                </div>
                                <div class="users-list-body align-items-center">
                                    <div>
                                        <h5>#Tech Support</h5>
                                        <p>5 Min Ago</p>
                                    </div>
                                    <div class="last-chat-time">
                                        <span class="material-icons me-3 callmissed-icon">call_missed</span>
                                        <a href="audiocall-single.html"><span class="material-icons calling-icon">call</span></a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>


<div class="chat d-flex align-items-center justify-content-center">
    <div class="status-right">
        <div class="audio-chat">
            <img src="assets/img/avatar/avatar-9.jpg" alt="" class="rounded-circle" height="60" width="60">
            <p>Hey, <span class="text-highlight">Scott Albright!</span></p>
            <p class="m-0">Please select a chat to start messaging.</p>
        </div>
    </div>
</div>

