
@{
    ViewData["Title"] = "Status";
    Layout = "~/Views/Shared/_MessageLayout.cshtml";
}
<div class="sidebar-group left-sidebar chat_sidebar">

    <div id="chats" class="left-sidebar-wrap sidebar active slimscroll">
        <div class="slimscroll">

            <div class="left-chat-title d-flex justify-content-between align-items-center">
                <div class="chat-title">
                    <h4>STATUS</h4>
                </div>
                <div class="add-section">
                    <ul>
                        <li><a href="#" data-bs-toggle="modal" data-bs-target="#add-status"><span class="material-icons">library_add</span></a></li>
                    </ul>
                </div>
            </div>

            <div class="search_chat has-search mb-0">
                <span class="fas fa-search form-control-feedback"></span>
                <input class="form-control chat_input" id="search-contacts" type="text" placeholder="Search Contacts">
            </div>
            <div class="sidebar-body" id="chatsidebar">

                <div class="left-chat-title d-flex justify-content-between align-items-center pl-0 pr-0">
                    <div class="chat-title">
                        <h4>Recent STATUS</h4>
                    </div>
                </div>

                <ul class="user-list mt-2">
                    <li class="user-list-item">
                        <a href="#" class="d-flex" data-bs-toggle="modal" data-bs-target="#status-modal">
                            <div class="avatar avatar-online">
                                <img src="assets/img/avatar/avatar-8.jpg" class="rounded-circle" alt="image">
                            </div>
                            <div class="users-list-body">
                                <div>
                                    <h5>Regina Dickerson</h5>
                                    <p>Just now</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="user-list-item">
                        <a href="#" class="d-flex w-100" data-bs-toggle="modal" data-bs-target="#status-modal">
                            <div>
                                <div class="avatar avatar-away">
                                    <img src="assets/img/avatar/avatar-9.jpg" class="rounded-circle" alt="image">
                                </div>
                            </div>
                            <div class="users-list-body">
                                <div>
                                    <h5>Forest Kroch</h5>
                                    <p>4 Min Ago</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="user-list-item">
                        <a href="#" class="d-flex w-100" data-bs-toggle="modal" data-bs-target="#status-modal">
                            <div>
                                <div class="avatar avatar-online">
                                    <img src="assets/img/avatar/avatar-10.jpg" class="rounded-circle" alt="image">
                                </div>
                            </div>
                            <div class="users-list-body">
                                <div>
                                    <h5>Regina Dickerson</h5>
                                    <p>4 Min Ago</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="user-list-item">
                        <a href="#" class="d-flex w-100" data-bs-toggle="modal" data-bs-target="#status-modal">
                            <div>
                                <div class="avatar avatar-online">
                                    <div class="letter-avatar">
                                        M
                                    </div>
                                </div>
                            </div>
                            <div class="users-list-body">
                                <div>
                                    <h5>Townsend Seary</h5>
                                    <p>5 min Ago</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="user-list-item">
                        <a href="#" class="d-flex w-100" data-bs-toggle="modal" data-bs-target="#status-modal">
                            <div>
                                <div class="avatar avatar-online">
                                    <img src="assets/img/avatar/avatar-11.jpg" class="rounded-circle" alt="image">
                                </div>
                            </div>
                            <div class="users-list-body">
                                <div>
                                    <h5>Margaretta Worvell</h5>
                                    <p>8 min ago</p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>

                <div class="left-chat-title d-flex justify-content-between align-items-center pl-0 pr-0 mt-1">
                    <div class="chat-title">
                        <h4>VIEWED</h4>
                    </div>
                </div>

                <ul class="user-list mt-2">
                    <li class="user-list-item">
                        <a href="#" class="d-flex w-100" data-bs-toggle="modal" data-bs-target="#status-modal">
                            <div>
                                <div class="avatar avatar-away">
                                    <img src="assets/img/avatar/avatar-2.jpg" class="rounded-circle" alt="image">
                                </div>
                            </div>
                            <div class="users-list-body">
                                <div>
                                    <h5>#Tech Support</h5>
                                    <p>8 min ago</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="user-list-item">
                        <a href="#" class="d-flex w-100" data-bs-toggle="modal" data-bs-target="#status-modal">
                            <div>
                                <div class="avatar avatar-online">
                                    <div class="letter-avatar">
                                        A
                                    </div>
                                </div>
                            </div>
                            <div class="users-list-body">
                                <div>
                                    <h5>Harald Kowalski</h5>
                                    <p>8 min ago</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="user-list-item">
                        <a href="#" class="d-flex w-100" data-bs-toggle="modal" data-bs-target="#status-modal">
                            <div>
                                <div class="avatar avatar-away">
                                    <img src="assets/img/avatar/avatar-12.jpg" class="rounded-circle" alt="image">
                                </div>
                            </div>
                            <div class="users-list-body">
                                <div>
                                    <h5>Alexandr Donnelly</h5>
                                    <p>8 min ago</p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>


<div class="chat status-middle-bar d-flex align-items-center justify-content-center">
    <div class="status-right">
        <div><img src="assets/img/status-icon.png" alt=""></div>
        <div>
            <p>Click on a contact to view their status updates</p>
        </div>
    </div>
</div>
